
.container{
    width: 100%;
    height: min-content;
    white-space: pre-wrap;
}

.container:lang(en){
    direction: ltr;
}
.container:lang(he){
    direction: rtl;
}

.bubble{
    width: auto;
    background-color: white;
    border-radius: 5px;
    font-size: 22px;
    box-shadow: 0 0 10px black;
    margin: 15px;
    margin-top: 15px;
}
.incoming{
    float: left;
}
.outcoming{
    float: right;
}