.Begin{
    text-align: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: #d1eef6;
    touch-action: none;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.intro-header{
    position: absolute;
    font-family: "Staatliches";
    font-size: 30px;
    top: 12%;
}
.bottom-index{
    position: absolute;
    height: 4vh;
    width: 95%;
    top: 72vh;
    border-radius: 15px;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-index > * {
    margin: 30px;
}
.dot{
    width: 30px;
    height: 30px;
    background-color: black;
}

.intro-user-input{
    position: relative;
    width: 75%;
    height: 10%;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border-width: 0px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.301);
    outline: none;
    margin: 15px;
  }
.scroller{
    position: absolute;
    top: 20%;
    height: 50%;
    width: 98%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.317);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.begin-continue-button{
    position: absolute;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Staatliches";
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-size: 22px;
}
.begin-continue-button:active{
    background-image: linear-gradient(62deg, #80b2e3 0%, #c4aadc 100%);
}
.bio{
    width: 75%;
    height: 10%;
    resize: vertical;
    background-color: white;
}

.age-label{
    font-size: 22px;
    font-style: bold;
    background-color: ;
}
